[Unit]
Description=SMSShell
Documentation=https://github.com/Turgon37/SMSShell
After=network.target gammu-smsd.service

[Service]
Type=forking
{% if smsshell__run_service_as_native_user %}
User={{ smsshell__service_user }}
Group={{ smsshell__service_group }}
RuntimeDirectory={{ smsshell__service_run_directory|basename }}
{% endif %}
PIDFile={{ smsshell__service_pidfile }}
ExecStart={{ smsshell__executable }} --config-file={{ smsshell__configuration_file_path }} --pid-file={{ smsshell__service_pidfile }} --background

[Install]
WantedBy=multi-user.target
