#!/usr/bin/env python

import json
import os
import re
import subprocess
import sys

smsshell_exec = '{{ smsshell__executable }}'

content=dict()

version_re = re.compile('version\s+v(?P<version>(?P<major>[0-9]+)[^ ]+)')
try:
    if not os.path.isfile(smsshell_exec):
        content['error'] = 'executable {} does not exists'.format(smsshell_exec)
    else:
        result = subprocess.check_output([smsshell_exec, '--version'], universal_newlines=True)
        match = version_re.search(result.strip())
        if match:
            content['version_full'] = match.group('version')
            content['version_major'] = match.group('major')
except subprocess.CalledProcessError as e:
    content['error'] = str(e)

if len(content) == 0:
    content = None

print(json.dumps(content))
sys.exit(0)
